<div class="container">
  <div class="header">
    <p class="colorcode">Book now to get exciting travel deals. Upto 40% o on credit card payments </p>
    <p class="colorcode">Offer ends in </p>
  </div>
  <div class="content">
    <ul>
      <li><a href="#quote">GET A QUOTE</a></li>
      <li><a href="#news">DESTINATIONS</a></li>
      <li><a href="active #contact">WEATHER</a></li>
    </ul>
  </div>

  <div class="image-left">
    <!-- <svg xmlns="../assets/images/icon.svg"></svg> -->
    <!-- <img src="../assets/images/icon.svg" alt="travel"/> -->
    <img src="../assets/images/welcome.svg" id="demo" alt="travel">
    <div>
      <h1 class="text">Life is short and the world is wide!</h1>
      <h3 class="text">Stay at the comfort of your homes and book a trip to travel <br> after the post pandemic era.</h3>
      <br>
      <button class="button button1">PLAN A TRIP</button>
    </div>
  </div>
  <div>
    <app-panel></app-panel>
  </div>
  <div>
    <app-form></app-form>
  </div>
  <div>
    <!-- <p-panel>
      <ng-template pTemplate="header">
          Header content here
      </ng-template>
      Body Content
      <ng-template pTemplate="footer">
          Footer content here
      </ng-template>
  </p-panel> -->
    <!-- </div> -->
    <!-- <div class="footer">
      <h2>footer</h2>
    </div>  -->
    <!-- </div> -->