<div class="wrapper">
  <h1 class="marg-left">THE WEATHER CHANNELS</h1>

  <div class="row marg-left">
    <div class="column" style="background-color:#0D7E88;" >
      <h4>{{forecast1.city}}</h4>
      <h3>{{forecast1.temp_Fahr}}</h3>
      <h1>{{forecast1.temp_Celsius}}</h1>
    </div>
    <div class="column" style="background-color:#D09378;">
      <h4>{{forecast2.city}}</h4>
      <h3>{{forecast2.temp_Fahr}}</h3>
      <h1>{{forecast2.temp_Celsius}}</h1>
    </div>
    <div class="column" style="background-color:#405B5D;">
      <h4>{{forecast3.city}}</h4>
      <h3>{{forecast3.temp_Fahr}}</h3>
      <h1>{{forecast3.temp_Celsius}}</h1>
    </div>
    <div class="column" style="background-color:#74A748;">
      <h4>{{forecast4.city}}</h4>
      <h3>{{forecast4.temp_Fahr}}</h3>
      <h1>{{forecast4.temp_Celsius}}</h1>
    </div>
    <!-- </div> -->
  </div>
  
</div>