body{
    padding:2em;
    background:silver;
  }
  .wrapper{
    background: lightblue;
    width:70em;
    padding:2em 2em 4em;
    margin:0 auto;
    border-radius:1em;
    color:darkgreen;
  }

  .marg-left {
    margin-left: 30px;
  }
  
  .column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }